*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appointment-card{
    width: 300px;
    height: 400px;
    background-color: blue;
    color: white;
    position: absolute;
    top: 3vh;
    left: 10vw;
    
}
